        .button {
            -fx-background-color: rgba(255,255,255,0.3);
            -fx-text-fill: white;
            -fx-pref-width: 40px;
            -fx-pref-height: 40px;
            -fx-border-radius : 6px;
            -fx-background-radius : 7px;
            -fx-border-width: 2px;
            -fx-border-color: white;
            -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 3);
        }

        .button:hover{
            -fx-background-color: rgba(255,255,255,0.4);
            -fx-scale-x: 1.1;
            -fx-scale-y: 1.1;
        }

        .button:pressed{
            -fx-background-color: rgba(255,255,255,0.5);
            -fx-scale-x: 1.1;
            -fx-scale-y: 1.1;
        }

        .racine{
            -fx-background-color: rgb(99, 107, 194);

        }